<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>590626009800-svn90rmplnh80dqmfab7o4vvfi0em45g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590626009800-svn90rmplnh80dqmfab7o4vvfi0em45g</string>
	<key>API_KEY</key>
	<string>AIzaSyAj5K9jFu7L-rcBIRpuTfaGqXARKAsw_bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>590626009800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chuk.volunPair</string>
	<key>PROJECT_ID</key>
	<string>volunpair</string>
	<key>STORAGE_BUCKET</key>
	<string>volunpair.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:590626009800:ios:115a51d543f8ceac</string>
	<key>DATABASE_URL</key>
	<string>https://volunpair.firebaseio.com</string>
</dict>
</plist>